body {
    font-family: 'Roboto', sans-serif;
}

.text-align {
    text-align: center;
}

.heading {
    color: white;
    font-weight: 900;
    font: size 35px;
}

h4 {
    color: rgb(252, 0, 168);
    font-weight: 700;
}

.link-button {
    text-decoration: none;

    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, blue);
    color: white;
    font-weight: 700;
}

.background-image {
    background-image: url(images/back-image.jpg);
    background-repeat: no-repeat;
    height: 500px;

}

.button {
    border: 0px solid red;
    height: 100px;
    width: 100px;

}

.align {
    text-align: center;

}

#mark {
    background-color: blue;
    border: 2px solid red;
}

.shadow {
    box-shadow: 20px 20px 60px gray;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}

.back-image-1 {
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: antiquewhite;
}

.back-image-2 {
    background-image: url(icons/medicine.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: aqua;
}

.back-image-3 {
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: bisque;
}

.flexible-container {
    display: flex;
    bottom: margin 100px;
}